 //....................Modal section...............
 .product-main{
    margin-bottom: 30px;
 }
 .product-page-four{


     .product{
        margin-bottom: 0;
     }
     a{
        .angle{
            font-size: 33px;
        }
     }

    h2{
        font-size: $font-size-lg;
        font-weight: $font-weight-bolder;
        span{
            color:$red;
        }
    }
    .list {


		width:84%;
        list-style: none;
        padding: 2px 0px 0 0;
        margin-bottom: 7px;
        li {
			display:inline-block;
            padding-right: 10px;
            font-size: $font-size-base;
            color: $gray-600;
            border-right: 1px solid #e1e1e1;
            margin-right: 10px;
            line-height: 13px;
			margin-bottom:7px;
            p{
                margin: 0;
                font-size: 18p
            }
        }
        .instock{
            color: green;
            .fas{
                margin-right: 5px;
            }
        }
        li:last-child{
            border: none;
        }
    }
    .product-buttons .icon-liked {
        position: relative;
        float: right;
        top: 0;
        .icon {
            position: relative;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 35px;
            width: 35px;
            border: $border-width solid #e1e1e1;
            border-radius: 0;
            font-size: $font-size-lg;
            color: $secondary;
            text-decoration: none;
            cursor: pointer;
        }
        .badge {
            font-family: "Roboto", sans-serif;
            position: absolute;
            right: -8px;
            top: -8px;
            border-radius: $border-radius;
        }
    }
    .controls {
        background-color: $gray-300;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        .input-group{
            .input-group-btn{
                .btn{
                    background-color: $white;
                    border-color: $gray-400;
                }
            }
        }
        .select-control{

            position: relative;


            .form-control{
                background-color:$white;
                width: 100%;
                color: color-yiq($gray-300);
                height: 35px;
                padding:0px 15px 0 15px;
            }
            &::before{
                font-family:"Font Awesome 5 Free";
                font-weight: 900; /* regular style/weight */
                content: "\f0d7";
                position: absolute;
                top: 6px;
                right: 30px;
                color: color-yiq($gray-300);
            }
        }
        .color-item{
            width: 29%;
        }
        .size-item{
            width: 24%;
        }
    }

    .product-buttons{
        display: flex;
        margin-bottom: 30px;
        margin-top: 30px;
        align-items: center;
        p{
            margin: 0;
            font-size: 18p
        }
        h2{
            margin: 0;
        }
        .buttons{
            width: 30%;
            padding: 0 15px;
            .btn{
                font-weight: $font-weight-bolder;
            }
        }

    }
    .tab-list{
        .nav-index {
            border: $border-width solid #d1d8df  ;
            width: 105px;
            margin-right: 10px;

        }
        .active{
            border-color: $primary;
        }
    }
    .tab-content{
        .tab-pane{
            .tabs-pera{
                padding: 10px;
                border: $border-width solid #d1d8df ;
                background-color: $white;
                p {
                    margin-bottom: 14.3px;
                }
            }
        }
    }
    .bg-banner-content {
        text-align: center;
        border: $border-width solid $gray-400;
        background-color: $gray-100;
        .banner-single {
            padding: 18px 18px 18px 18px;
            .fas{
                color: $secondary;
            }
            .block {
                font-size: 10px;
                margin: 0;
                font-weight: 600;
                h4 {
                    margin: 0;
                    font-size: 15px;
                }
            }
        }
    }
    .add-favrt{
        margin: 0 0 30px 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        li{
            margin-right: 14px;
            a{
                font-size: 13px;
            }
            .fas{
                margin-right: 5px;
                color: $secondary;
            }
        }
        li:last-child{
            margin-right: 0;
        }
    }
 }
