.badge{
    font-size: 64%;
    font-weight: 600;
    line-height: 9px;
}

.btn{
    font-weight: $font-weight-bold;

    &:focus, &:active{
        box-shadow: none !important;
    }
}

select{
    -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    border: none !important;
    box-shadow: none !important;

    option{
        font-size: $font-size-base;
        color: $body-color;
    }
    &:focus{
        box-shadow: none;
    }
}
.form-control{
    &:focus{
        box-shadow: none;
    }
}
.btn-google{
    background-color: #de4e33;
    color: color-yiq(#de4e33);

    &:hover, &:focus{
        background-color: darken(#de4e33, 5%);
        color: color-yiq(darken(#de4e33, 5%));
    }
}
.btn-facebook{
    background-color: #3a599c;
    color: color-yiq(#3a599c);

    &:hover, &:focus{
        background-color: darken(#3a599c, 5%);
        color: color-yiq(darken(#3a599c, 5%));
    }
}
.btn-twitter{
    background-color: #1aa9e1;
    color: color-yiq(#1aa9e1);

    &:hover, &:focus{
        background-color: darken(#1aa9e1, 5%);
        color: color-yiq(darken(#1aa9e1, 5%));
    }
}

ul{
    li{
        .dropdown-item.active, 
        .dropdown-item:active{
            background-color: transparent;
            color: initial;
        }
        a:focus{
            outline: none;
        }
    }
}

h1{
    font-size: ($font-size-lg + 0.325);
    letter-spacing: 0.5px;
}

.heading {
   
    h2 {
       font-size: ($font-size-lg + 0.25rem);
       margin-bottom: 10px;
       text-transform: uppercase;
       display: flex;
        justify-content: space-between;

       small {
           float: right;
           font-size:$font-size-lg;
           line-height: 28px;

           a:hover{
                   color: $body-color-secondary;
                   text-decoration: none;
           }
       }
   }
   hr {
       margin-top: 2px;
       margin-bottom: 30px;
       border-top: 1px solid $border-color;
       &:before{
           display: flex;
           height: 3px;
           background-color:$secondary;
           content: "";
           position: absolute;
           width: 90px;
           margin-top: -2px;
        }
    }
 
}


.item-quantity{
    width: 70px;
    input{
        text-align: center;
        margin-right: -1px;
        padding-left: 5px;
        padding-right: 5px;
        box-shadow: none;
    }
    .input-group-btn{
        float: left;
        width: 30px;
        button{
            display: block;
            height: 18px;
            padding: 0 10px;
            line-height: 18px;
            font-size: 10px;
            border:1px solid $gray-300;
            margin-bottom: -1px;
        }
    }
}


.breadcrumb{
    margin-bottom: 0;
    background-color: #f5f5f5;
    .breadcrumb-item + .breadcrumb-item::before {
        content: ">";
    }
    .breadcrumb-item.active {
        color: $secondary;
    }
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    background: $secondary;
    color:color-yiq($secondary) ;
    cursor: pointer;
    border: 0;
    border-radius: 200px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: darken($secondary, 5%);
}
#back-to-top.show {
    opacity: 1;
}


.list-group{
    .list-group-item{
        padding: 0;

        .nav-link{
            .fas{
                color: $body-color-secondary;
                width: 20px;
                text-align: center;
                margin-right: 7px;
            }
        }
    }
}


.header-area .cart-header .shopping-cart{
    left: 1px;
}